
<!--<%= console.log(data); %>-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>CRUD NODEJS MySQL</title>
</head>
<body>

	<form action="/add" method="POST">
		<table border align="center">
				<tbody>
					<tr>
						<td>Nombre</td>
						<td><input type="text" name="name" placeholder="nombre"></td>
					</tr>		
					<tr>
					     <td>Direccion</td>
						 <td><input type="text" name="address" placeholder="address"></td>
						</tr>
					<tr>
						<td>Telefono</td>
						<td><input type="text" name="phone" placeholder="phone"></td>
					</tr>
					<tr>
						<th colspan="2"><button type="submit">Guarda Cliente</button></th>
					</tr>
		
				</tbody>
		</table>
	</form>			
<br>
	<table border align="center">
		<thead>
			<tr>
				<th>No.</th>
				<th>Nombre</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th colspan="2">Acciones</th>
			</tr>

		</thead>
		<tbody>
			<% if (data) { %>
			   <% for(var i = 0; i<data.length; i++) { %>
				   <tr>
					   <td><%= (i+1) %></td>
					   <td><%= data[i].name %></td>
					   <td><%= data[i].address %></td>
					   <td><%= data[i].phone %></td>
					   <td>
						   <a href="/delete/<%= data[i].id %>">Borrar</a>
					   </td>

					   <td>
							<a href="/update/<%= data[i].id %>">Actualizar</a>
						</td>


				   </tr>

			   <% } %>
			<% } %>   
			
		</tbody>
		
	</table>
</form>

</body>
</html>
